@(book: Form[CreateBookForm])(implicit request: RequestHeader, messages: Messages)
@import helper._

@main("Welcome to Play") {
    <h1>Welcome to Play!</h1>
    <script type='text/javascript' src='@routes.Assets.versioned("javascripts/index.js")'></script>

    <ul id="books"></ul>

    @form(CSRF(routes.BooksController.addBook())) {
        @inputText(book("title"))
        @inputText(book("description"))

        <div class="buttons">
            <input type="submit" value="Add Book"/>
        </div>
    }
}
